@using Federation.Core
@using Federation.Web
@using Federation.Web.ViewModels
@model _ContentFeedViewModel

<script src="../../Resources/scripts/feedpaginator.js" type="text/javascript"></script>

<div class="contentfeed common">
    @{
        var itemN = 0;

        foreach (var record in Model.FeedContent)
        {
            itemN++;
            <div id="@("item" + itemN)" class="record wide @record.ContentClass @(record.IsUserAttached ? "attached" : string.Empty) @(record.IsFinished ? "finished" : "notfinished")">
                <div class="corner"><div class="img"></div></div>
                <div class="main"> 
                    <div class="group">
                        @if (record.GroupId.HasValue)
                        {
                            <a class="groupicon" href="@Url.Action("index", "group", new { Id = record.GroupUrl })">
                                <img class="icon" src="@record.GroupLogo&w=15&h=20" alt="" />
                            </a>
                            <a class="groupname" href="@Url.Action("index", "group", new { Id = record.GroupUrl })">@record.GroupName</a>
                            if (record.ContentTypeName != null)
                            {
                                <text>&nbsp;&rarr;</text>
                            }
                        }
                        @if (record.ContentTypeName != null)
                        {
                            <span>@record.ContentTypeName</span>
                        }
                    </div>
                    <div class="content">
                        <h3 class="title">
                            <a href="@record.Url">@record.Title</a>
                        </h3>
                        @if (!record.IsUserAttached)
                        {
                            <div class="summary">
                                <a href="@record.Url">@Html.Raw(record.Summary)</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="control">
                    <div class="comments">
                        @if (record.CommentsCountNum > 0)
                        {
                            <a href="@record.Url#comments" title="перейти к комментариям">@record.CommentsCountNum</a>
                        }
                        else
                        { 
                            <a class="nocomments" href="@record.Url#comments" title="Добавить комментарий"><span></span></a>
                        }                        
                    </div>
                    @if (record.ContentType == ContentViewType.Poll)
                    {
                        <div class="date">
                            @record.StartDate.ToUserTime(UserContext.Current).ToString("d MMM yyyy") - 
                            @if (record.EndDate.HasValue)
                            {
                                @record.EndDate.Value.ToUserTime(UserContext.Current).ToString("d MMM yyyy")
                            }
                            else
                            {
                                <text>бессрочно</text>
                            }
                        </div>
                        if (record.Vote.HasValue)
                        {
                            <div>
                                @switch (record.Vote.Value)
                                {
                                    case VoteOption.NotVoted:
                                        <span style="color: orange">Вы не голосовали</span>
                                        break;

                                    case VoteOption.Yes:
                                        <text>Вы проголосовали <span style="color: forestgreen">За</span></text>
                                        break;

                                    case VoteOption.No:
                                        <text>Вы проголосовали <span style="color: crimson">Против</span></text>
                                        break;

                                    case VoteOption.Refrained:
                                        <text>Вы <span style="color: mediumblue">Воздержались</span></text>
                                        break;
                                }
                            </div>
                        }
                        if (record.IsFinished)
                        {
                            <div>
                                Завершено.
                                @switch (record.Result)
                                {
                                    case VoteOption.NotVoted:
                                        <span style="color: orange">Провалено</span>
                                        break;

                                    case VoteOption.Yes:
                                        <text>Большинство проголосовало <span style="color: forestgreen">За</span></text>
                                        break;

                                    case VoteOption.No:
                                        <text>Большинство проголосовало <span style="color: crimson">Против</span></text>
                                        break;

                                    case VoteOption.Refrained:
                                        <text>Большинство <span style="color: mediumblue">Воздержалось</span></text>
                                        break;
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="date">@record.PostDate.ToUserTime(UserContext.Current).ToString("dd MMMM yyyy, HH:mm")</div>
                    }

                    @if (record.Tags.Count > 0)
                    {
                        <div class="feedlabels">
                            <div class="labels">
                                @foreach (var label in record.Tags)
                                {
                                    @Html.ActionLink(label.Title, "tag", "search", new { Id = label.Title }, null)
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
    @Html.PageLoadButton(Model.FeedContent)
</div>