@using Federation.Web.ViewModels
@model UserBlogViewModel
@{
    ViewBag.Title = Model.UserFullName;
    
    var isAuthor = Request.IsAuthenticated && UserContext.Current.Id == Model.UserId;
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.UserId, NavigationBoxType.User))
</div>
<div class="layout_content">
    @if (isAuthor)
    {
        <div class="lighttabs_container">
            <div class="jqueryslidemenu servicebuttonmenu">
                <ul>
                    <li>
                        <a href="@Url.Action("addpost", "user")">Написать пост</a>
                    </li>
                    <li class="servicemenu">
                        <a href="#"><img src="@RoutesHelper.CurrentThemeFolder/images/buttcalc/button_setup.png" alt="Меню" /></a>
                        <ul>
                            <li>
                                <a href="@Url.Action("createpetition", "user")">Создать петицию</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="lighttabs">
                <li>
                    <a href="@Url.Action("index")">Подписка</a>
                </li>
                <li>
                    <a class="selected">Ваш блог</a>
                </li>
            </ul>
            <div class="lighttabs_border"></div>
        </div>
    }
    else
    {
        <div class="lighttabs_container">
            <div class="jqueryslidemenu servicebuttonmenu">
                <ul>
                    @if (Model.IsPMAllow)
                    {
                        <li>
                            <a href="@Url.Action("dialog", "user", new { Id = Model.UserId })#send-message">Написать пользователю</a>
                        </li>
                    }
                    <li class="servicemenu">
                        <a href="#">
                            <img src="@RoutesHelper.CurrentThemeFolder/images/buttcalc/button_setup.png" alt="меню" />
                        </a>
                        <ul>
                            @Html.Partial("_SubscribeAndBlockMenu", Model.UserId)
                        </ul>
                    </li>
                </ul> 
            </div>
            <ul class="lighttabs">
                <li>
                    <a class="selected">Блог</a>
                </li>
            </ul>
            <div class="lighttabs_border"></div>
        </div>
    }
    <div class="body">
        <div class="content_helper_control no_margin">
            <a href="@Url.Action("rss", "user", new { id = Model.UserId })">
                <img class="texticon" src="@RoutesHelper.CurrentThemeFolder/images/rss16.png" alt="rss" />
            </a>
        </div>
        @Html.Partial("_Feed", Model.Feed)
    </div>
</div>