@using Federation.Web.ViewModels
@model AccountRecoverPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
    ViewBag.LayoutStyle = "layout_start";
}

@Html.Partial("_MainMenu")

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    <div class="form_help">
        <p>
            Введите адрес электронной почты, на который зарегистрирован Ваш аккаунт. 
            На этот адрес будет выслана инструкция по восстановлению пароля.
        </p>
    </div>
</div>
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="back">◄</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        <div class="styled_form">
            @if (!string.IsNullOrEmpty(ViewBag.ValidationExceptionText))
            {
                <div class="validation_block">
                    @ViewBag.ValidationExceptionText
                </div>
            }
            @using (Html.BeginForm())
            {
                <div class="form_block">
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.Email)<span class="required">*</span>
                        </div>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="submit_block">
                    <input type="submit" value="Восстановить" />
                </div>
            }
        </div>
    </div>
</div>