@using Federation.Core
@using Federation.Web.ViewModels
@model AccountSignUpViewModel
@{
    ViewBag.Title = "Регистрация нового пользователя";
    ViewBag.LayoutStyle = "layout_start";
}

@Html.Partial("_MainMenu")

@if (Model.SocialType != SocialType.None && Session["social_id"] != null)
{
    var key = Session["social_id"].ToString();
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("http://graph.facebook.com/@key", null, function (data) {
                var v = RegExp("^[^a-zA-Z0-9-=+]+$");

                if (v.test(data.last_name))
                    $('#SurName').val(data.last_name);

                if (v.test(data.first_name))
                    $('#Name').val(data.first_name);

                $('#Gender').val(data.gender);
                $('#SocialLink').val(data.link);
            });
        });
    </script>
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    <div class="form_help">
        <h3>Регистрация</h3>
        <p>
            <b>@Html.LabelFor(x => x.Email)</b> - Будет использоваться для подтверждения вашей почты
        </p>
        <p>
            <b>@Html.LabelFor(x => x.PhoneNumber)</b> - На этот телефон придёт SMS с кодом подтверждения вашего аккаунта
        </p>
        <p>
            <b>@Html.LabelFor(x => x.Password)</b> - Пароль не должен содержать открытые или широко известные данные - Дни рождения, 
            элементы адреса или телефона - такие части пароля облегчают злоумышленникам подбор пароля.
        </p>
        <p>
    </div>
</div>
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        <div class="styled_form">
            @if (!string.IsNullOrEmpty(ViewBag.ValidationExceptionText))
            {
                <div class="validation_block">
                    @ViewBag.ValidationExceptionText
                </div>
            }
            @using (Html.BeginForm("signup", "account", new { isdialog = Request.Params["isdialog"] }, FormMethod.Post, null))
            {
                @Html.HiddenFor(m => m.SocialType)
                @Html.HiddenFor(m => m.ReturnUrl)
                @Html.HiddenFor(m => m.Gender)
                if (Model.SocialType != SocialType.None)
                {
                    @Html.CheckBoxFor(m => m.ConnectSocial)
                    <label for="ConnectSocial">Прикрепить мой аккант <b>@Model.SocialType.ToString()</b> к профилю в Демократии2</label>
                }
		        <div class="form_block">
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.SurName)<span class="required">*</span>
                        </div>
                        @Html.TextBoxFor(m => m.SurName)
                        @Html.ValidationMessageFor(m => m.SurName)
                    </div>
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.Name)<span class="required">*</span>
                        </div>
                        @Html.TextBoxFor(m => m.Name)
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.Patronymic)<span class="required">*</span>
                        </div>
                        @Html.TextBoxFor(m => m.Patronymic)
                        @Html.ValidationMessageFor(m => m.Patronymic)
                    </div>
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.Email)<span class="required">*</span>
                        </div>
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.PhoneNumber)<span class="required">*</span>
                        </div>
                        @Html.TextBoxFor(m => m.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                    <div class="input_block">
				        <div class="title">
					        @Html.LabelFor(m => m.Password)<span class="required">*</span>
				        </div>
					    @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
			        </div>
		        </div>
		        <div class="submit_block">
			        <input type="submit" value="Зарегистрироваться" />
		        </div>
            }
        </div>
    </div>
</div>