@using Federation.Web.ViewModels
@model AlbumAddItemViewModel
@{
    ViewBag.Title = "Добавление изображения";
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    @if (Model.GroupId.HasValue)
    {
        @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.GroupId.Value, NavigationBoxType.Group))
    }
    else if (Model.UserId.HasValue)
    {
        @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.UserId.Value, NavigationBoxType.User))
    }  
</div>
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="back">◄</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        <div class="styled_form">
            @if (!string.IsNullOrEmpty(ViewBag.ValidationExceptionText))
            {
                <div class="validation_block">
                    @ViewBag.ValidationExceptionText
                </div>
            }
            @using (Html.BeginForm("addimage", "album", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form_block">
                    @Html.HiddenFor(m => m.AlbumId)
                    <div class="input_block">
                        <div class="title">                    
                            @Html.LabelFor(m => m.Title)
                        </div>
                        @Html.TextBoxFor(m => m.Title)
                    </div>
                    <div class="input_block">
                        <div class="title">
                            @Html.LabelFor(m => m.Description)
                        </div>                    
                        @Html.TextAreaFor(m => m.Description)
                    </div>
                    <div class="input_block separator">
				        <div class="title">
					        <label for="image">Выберите файл</label>
				        </div>
					    <input type="file" name="image" />
			        </div>
                    <div class="input_block">
				        <div class="title">
					        <label for="Url">Либо укажите ссылку</label>
				        </div>
					    @Html.TextBoxFor(m => m.Url)
			        </div>
                </div>
                <div class="submit_block">
                    <input type="submit" value="Ок" />
                </div>
            }
        </div>
    </div>
</div>