<dl class="tabs_on_main">
    <dt id="possible_dt" class="selected">
        <span>Возможности</span>
    </dt>
	<dd id="possible_dd" class="selected">
		<div class="tab-content">
            <table id="possible_table">
                <tr>
                    <td>                        
                        <div class="tableanounce" id="tableanounce_group">
                            <div class="icon"></div>
                            <div class="title"><a href="@Url.Action("features","help")#groups">Группы</a></div>
                            <div class="anounce">
                                <p>
                                    Группы объединяют людей по хозяйственному, политическому, географическому или любому другому признаку.
                                </p><p>
                                        &mdash; &nbsp;<a href="@Url.Action("features","help")#existinggroups">Существующие группы</a>
                                    </p><p>
                                            &mdash; &nbsp;<a href="@Url.Action("features","help")#groups_more">Подробнее о группах в Демократии2</a>
                                        </p>
                            </div>
                        </div>

                        <div class="tableanounce" id="tableanounce_votings">
                            <div class="icon"></div>
                            <div class="title"><a href="@Url.Action("features","help")#votings">Голосования</a></div>
                            <div class="anounce">
                                <p>
                                    Система позволяет проводить легитимные голосования, защищённые от накруток и других вариантов мошенничества.
                                </p><p>
                                        &mdash; &nbsp;<a href="@Url.Action("features","help")#currentvotings">Текущие голосования в системе</a>
                                    </p><p>
                                            &mdash; &nbsp;<a href="@Url.Action("features","help")#votings_more">Подробнее о разных видах голосований</a>
                                        </p>
                            </div>
                        </div>

                        <div class="tableanounce" id="tableanounce_discussions">
                            <div class="icon"></div>
                            <div class="title"><a href="@Url.Action("features","help")#discussions">Обсуждения</a></div>
                            <div class="anounce">
                                <p>
                                    Каждый элемент системы снабжён возможностью обсуждения. 
                                </p><p>
                                        Помимо комментирования записей, пользователи имеют возможность отправлять друг другу личные сообщения.
                                    </p>
                            </div>
                        </div>
                    </td>
                    <td>                        
                        <div class="tableanounce" id="tableanounce_elections">
                            <div class="icon"></div>
                            <div class="title"><a href="@Url.Action("features","help")#elections">Выборы</a></div>
                            <div class="anounce">
                                <p>
                                    Система позволяет проводить выборы любого набора назначаемых должностей - и с одним победителем и с несколькими.
                                </p><p>
                                        &mdash; &nbsp;<a href="@Url.Action("features","help")#moderelections">Выборы руководства групп</a>
                                    </p><p>
                                            &mdash; &nbsp;<a href="@Url.Action("features","help")#elections_petitions">Механизм выдвижения кандидатов</a>
                                        </p>
                            </div>
                        </div>

                        <div class="tableanounce" id="tableanounce_experts">
                            <div class="icon"></div>
                            <div class="title"><a href="@Url.Action("features","help")#experts">Эксперты и делегирование</a></div>
                            <div class="anounce">
                                <p>
                                    Голосования в группе могут быть по самым разным темам, по части из которых можно делегировать свой голос участникам группы, выступающим в роли экспертов.
                                </p><p>
                                        &mdash; &nbsp;<a href="@Url.Action("features","help")#experts_more">Подробнее о делегировании</a>
                                    </p><p>
                                            &mdash; &nbsp;<a href="@Url.Action("features","help")#mostexperts">Наиболее авторитетные эксперты</a>
                                        </p>
                            </div>
                        </div>

                        <div class="tableanounce" id="tableanounce_petitions">
                            <div class="icon"></div>
                            <div class="title"><a href="@Url.Action("features","help")#petitions">Петиции</a></div>
                            <div class="anounce">
                                <p>
                                    Петиции позволяют проверить поддержку идеи  участниками группы и собрать сторонников. 
                                </p><p>
                                        Петиции также реализуют механизм сбора подписей для регистрации того или иного кандидата на выборах.
                                    </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="ta_r" style="margin-bottom: 15px">
                <a class="fl_l" href="@Url.Action("features","help")">Целая страница про возможности Демократии2 &uarr;</a>
                <a href="#" onclick="$('#using_dt').siblings().removeClass('selected').end().next('dd').andSelf().addClass('selected');">Прочитайте ещё про варианты применения &rarr;</a>
            </div>
        </div>
    </dd>
	<dt id="using_dt"><span>Применение</span></dt>
	<dd id="using_dd">
		<div class="tab-content">
            <table id="using_table">
            <tr>
                <td>                        
                    <div class="tableanounce" id="tableanounce_hoz">
                        <div class="icon"></div>
                        <div class="title"><a href="@Url.Action("cases","help")#hozgroups">Хозяйственные группы</a></div>
                        <div class="anounce">
                            <p>
                                Любая хозяйственная группа может автоматизировать все собрания участников, повысить отклик от участников группы и улучшить репрезентативность голосований.
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#tsg">Товарищества Собственников Жилья (ТСЖ)</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#homecouncil">Домовые советы</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#garage">Гаражные кооперативы</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#gardens">Садоводческие кооперативы</a>
                            </p>
                        </div>
                    </div>

                    <div class="tableanounce" id="tableanounce_expertcoms">
                        <div class="icon"></div>
                        <div class="title"><a href="@Url.Action("cases","help")#expertcoms">Экспертные сообщества</a></div>
                        <div class="anounce">
                            <p>
                                Тематические группы
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#pros">Профессиональные объединения</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#hobby">Любительские объединения</a>
                            </p>
                        </div>
                    </div>
                </td>
                <td>                        
                    <div class="tableanounce" id="tableanounce_socials">
                        <div class="icon"></div>
                        <div class="title"><a href="@Url.Action("cases","help")#socials">Социальные институты</a></div>
                        <div class="anounce">
                            <p>
                                Демократия2 предоставляет полностью готовую инфраструктуру для каждого объединения, и единую, открытую для всех площадку для публичных дебатов.
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#parties">Политические партии</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#religions">Религиозные конфессии</a>
                            </p>
                        </div>
                    </div>

                    <div class="tableanounce" id="tableanounce_communities">
                        <div class="icon"></div>
                        <div class="title"><a href="@Url.Action("cases","help")#communities">Общественные объединения</a></div>
                        <div class="anounce">
                            <p>
                                Теперь членам общественных объединений нет необходимости тратить ресурсы на сбор конференций, аренду залов, ведение протоколов &ndash; можно сосредоточиться на достижении поставленных перед объединением целей.
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#initiatives">Инициативные группы</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#orgs">Оргкомитеты событий</a>
                            </p><p>
                                &mdash; &nbsp;<a href="@Url.Action("cases","help")#guild">Гильдии, профсоюзы</a>
                            </p>
                        </div>
                    </div>

                </td>
            </tr>
            </table>

            <div style="margin-bottom: 15px; ">
                <a  href="@Url.Action("cases","help")">Целая страница про способы применения Демократии2 &uarr;</a>
                @*<a href="#" onclick="$('#why_dt').siblings().removeClass('selected').end().next('dd').andSelf().addClass('selected');">Прочитайте ещё про то, зачем это нужно &rarr;</a>*@
            </div>
        </div>
    </dd>
	@*<dt id="why_dt"><span>Зачем всё это?</span></dt>
	<dd id="why_dd">
		<div class="tab-content">
            <div style="margin: 20px; font-size: 17px;">
            <p>Система электронной демократии представялет собой информационную среду, в которой большие группы людей могут обсуждать, вырабатывать и принимать путем верифицируемого электронного голосования решения по актуальным вопросам политической жизни России.</p>
            <p>В условиях отмирания реальной политической жизни, разрабатываемая виртуальная среда призвана стать альтернативой для всех здоровых сил общества, площадкой для формирования параллельной легитимности.</p>
            </div>
                <div class="tableanounce" id="tableanounce_targets">
                    <div class="icon"></div>
                    <div class="title"><a href="@Url.Action("target","help")">Цели системы</a></div>
                    <div class="anounce">
                        <p>
                                        
                        </p><p>
                            &mdash; &nbsp;<a href="@Url.Action("target", "help")#closest">Ближайшие цели</a>
                        </p><p>
                            &mdash; &nbsp;<a href="@Url.Action("target", "help")#years">Цели на 2-3 года</a>
                        </p><p>
                            &mdash; &nbsp;<a href="@Url.Action("target", "help")#far">Далеко идущие планы</a>
                        </p>
                    </div>
                </div>
        </div>
    </dd>*@
</dl>
