@using Federation.Core
@using Federation.Web.ViewModels
@model GroupChildrenViewModel
@{
    ViewBag.Title = "Вложенные группы";
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    <div id="group-info">
        @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.GroupId, NavigationBoxType.Group))
    </div>
</div>
<div class="layout_content">
     <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body" id="user_groups">
        <big>
            <a href="@Url.Action("creategroup","user")">Создать новую группу</a>
        </big>	
        <div class="groups">
            <h2 id="active_groups">
                Активные и сформированные группы <a href="#blank_groups">[перейти к архивным и новым группам]</a>
            </h2>					
            @foreach (var group in Model.FormedGroups)
            {             
                <div class="group"> 
		                <div class="icon">
                            <img alt="@group.Name" src="@group.Logo&w=90&h=120"/>
		                </div>
                    <div class="description">       
                        <h2 class="title"><a href="@Url.Action("index", "group", new { id = group.Id })">@group.Name</a></h2>
                    </div>
                    <div class="members_count">
                        Количество участников: <b>@group.MembersCount</b>
                    </div>
                    <div class="tags">
                        Темы:
                        @if (group.Tags.Count == 0)
                        {
                            <span>не указано</span>
                        }
                        @foreach (var tag in group.Tags)
                        {
				            @Html.ActionLink(tag.Title, "tag", "search", new { id = tag.Title }, null)
                            <text></text>
                        }
                    </div>	        
	            </div>
            }
            <h2 id="blank_groups">
                Архивные и недавно созданные группы <a href="#active_groups">[ перейти к активным группам ]</a>
            </h2>					
            @foreach (var group in Model.BlankGroups)
            {             
                <div class="group">
		            <div class="icon">
                        <img alt="@group.Name" src="@group.Logo&w=90&h=120" />
		            </div>
                    <div class="description">	       
                        <h2 class="title"><a href="@Url.Action("index", "group", new { id = group.Id })">@group.Name</a></h2>
                    </div>
                    <div class="members_count">
                        Количество участников: <b>@group.MembersCount</b>
                    </div>
                    <div class="tags">
                        Темы:
                        @if (group.Tags.Count == 0)
                        {
                            <span>не указано</span>
                        }
                        @foreach (var tag in group.Tags)
                        {
				            @Html.ActionLink(tag.Title, "tag", "search", new { id = tag.Title }, null)
                            <text></text>
                        }
                    </div>	        
	            </div>
            }
        </div>
    </div>
</div>