@using Federation.Web.ViewModels
@model GroupEditCandidatePetitionViewModel
@{
    ViewBag.Title = "Создание кандидатской петиции";
}

<script src="../../Resources/scripts/jquery.validate.min.js" type="text/javascript"></script>

<script src="../../Resources/redactor/redactor.js" type="text/javascript"></script>
<script src="../../Resources/redactor/langs/ru.js" type="text/javascript"></script>
<link href="../../Resources/redactor/css/redactor.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        document.redactor = $("#Text").redactor({
            buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'image', 'video', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignleft', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule', 'fullscreen'],
            lang: 'ru',
            albums: '@Url.Action("albumsforeditor", "album", new { groupId = Model.GroupId })'
        });
    });
</script>

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    <div class="form_help">
        <p>
            Публикуя данную петициию вы заявляете свое желание участвовать в выборах.<br/>
            Мы рекомендуем публиковать в тексте петиции свою предвыборную программу и аргументы в пользу голосования за вас.
        </p>
        <p>
            <b>Внимание!</b> 
            Вы не сможете отредактировать текст петиции после ее публикации, поэтому будьте внимательны при ее написании.
        </p>
    </div>
</div>
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="back">◄</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        @if (!string.IsNullOrEmpty(ViewBag.ValidationExceptionText))
        {
            <div class="validation_block">
                @ViewBag.ValidationExceptionText
            </div>
        }
        @using (Html.BeginForm())
        {
            <div class="form_block">
                @Html.HiddenFor(x => x.CandidateId)
                <div class="input_block">
                    @Html.ValidationMessageFor(m => m.Text)
                    @Html.TextAreaFor(m => m.Text, new { cols = 50, rows = 3 })
                </div>
                <div class="submit_block">
                    <input type="submit" value="Сохранить" />
                    @if (Model.IsConfirmed)
                    {
                        <a href="@Url.Action("index", new { id = Model.GroupUrl })">Не создавать петицию</a>
                    }
                </div>
            </div>
        }
    </div>
</div>