@using Federation.Core
@using Federation.Web.ViewModels
@model GroupTagsViewModel
@{
    ViewBag.Title = "Темы группы";

    var isModer = false;

    if (Request.IsAuthenticated)
    {
        isModer = UserContext.Current.IsUserModeratorInGroup(Model.GroupId);
    }
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.GroupId, NavigationBoxType.Group))
</div>    
<div class="layout_content">
    <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a class="back">◄</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="content_helper_control no_margin">
        <span>Рекомендованные темы</span>
    </div>
    <div class="group_tags content_department">
        <table>
            @foreach (var topic in Model.RecomendedTags)
            {
                <tr class="tag" id="@("tagid_"+topic.Id)">
                    <td class="title">
                        <a href="@Url.Action("search",new { id = Model.GroupUrl, tag = topic.Title })">@topic.Title</a>
                    </td>
                    <td class="weight" >
                        @DeclinationService.OfNumber(topic.Weight, "публикация","публикации","публикаций")
                    </td>
                    <td class="controls">
                        @if (isModer)
                        {
                            <a href="@Url.Action("settagrecomendation", new { id = Model.GroupUrl, tagid = topic.Id, recomended = false })">
                                Больше не рекомендовать
                            </a>
                        }
                    </td>                        
                </tr>
            }
        </table>
    </div>
    <div class="content_helper_control">
        <span>Часто используемые темы</span>
    </div>
    <div class="group_tags content_department">
        <table>
            @foreach (var topic in Model.Tags)
            {
                <tr class="tag" id="@("tagid_"+topic.Id)">
                    <td class="title" >
                        <a href="@Url.Action("search", new { id = Model.GroupUrl, tag = topic.Title })">@topic.Title</a>
                    </td>
                    <td class="weight">
                        @DeclinationService.OfNumber(topic.Weight, "публикация", "публикации", "публикаций")
                    </td>
                    <td class="controls">
                        @if (isModer)
                        {
                            <a href="@Url.Action("settagrecomendation", new { id = Model.GroupUrl, tagid = topic.Id, recomended = true })">Рекомендовать</a>
                        }
                    </td>                        
                </tr>
            }
        </table>
    </div>
</div>