@using Federation.Core
@using Federation.Web.ViewModels
@model GroupRequestsViewModel
@{
    ViewBag.Title = "Заявки на вступление";
}

<div class="layout_pageheader"></div>
<div class="layout_sidemenu">
    @Html.Partial("_NavigationBox", new _NavigationBoxViewModel(Model.GroupId, NavigationBoxType.Group))
</div>
<div class="layout_content">
     <div class="lighttabs_container">
        <ul class="lighttabs">
            <li>
                <a href="@Url.Action("members")">Участники</a>
            </li>
            <li>
                <a class="selected">@ViewBag.Title</a>
            </li>    
        </ul>
        <div class="lighttabs_border"></div>
    </div>
    <div class="body">
        @if (Model.Requests.Count > 0)
        {
            foreach (var member in Model.Requests)
            {
                <div class="record">
                    <img src="@member.Avatar&w=30&h=40" alt="@member.FullName"/>
                    @Html.ActionLink(member.FullName, "index", "user", new { id = member.Id }, null)
                    @if (Model.GroupIsBlank)
                    {
                        <span>
                            @Html.ConfirmActionLink("[назначить модератором]", "Вы действительно хотите сделать пользователя модератором?",
                                Url.Action("approvemember", new { id = member.GroupMemberId }))
                        </span>
                    }
                    else
                    {
                        <span>
                            @Html.ConfirmActionLink("[одобрить]", "Вы действительно хотите одобрить пользователя?",
                                Url.Action("approvemember", new { id = member.GroupMemberId }))
                        </span>
                    }
                    <span>
                        @Html.ConfirmActionLink("[отклонить]", "Вы действительно хотите отказать пользователю?",
                            Url.Action("approvemember", new { id = member.GroupMemberId, approve = false }))
                    </span>
                </div>
            }
        }
        else
        {
            <h3>Пока заявок нет</h3>
        }
    </div>
</div>

    
