@using Federation.Web.ViewModels
@model ConfirmationActionViewModel
@{
    ViewBag.Title = "Подтверждение";
}

<div>
    <h1>@Model.Message</h1>

    @using (Html.BeginForm("yes", "confirmation"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.HttpPost)
        @Html.HiddenFor(m => m.YesUrl)
        <input type="submit" value=" Да " class="f_button" style="float: left" />
    }
    @using (Html.BeginForm("no", "confirmation"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.HttpPost)
        @Html.HiddenFor(m => m.NoUrl)
        <input type="submit" value=" Нет " class="f_button" />
    }
</div>